<div class="main-container">
    <h2>Tasks To Do</h2>
    <div class="notes-container">
        <table>
            <thead class="table-head">
                <tr>
                    <!-- Table Headers with Sorting Functionality -->
                    <th>Status</th>
                    <th><div class="column" onclick="location.href='/tasks/sort-subject';">Subject</div></th>
                    <th>Description</th>
                    <th><div class="column" onclick="location.href='/tasks/sort-date';">Date</div></th>
                    <th><div class="column" onclick="location.href='/tasks/sort-time';">Time</div></th>
                    <th><div class="column" onclick="location.href='/tasks/sort-tag';">Tags</div></th>
                    <th>Edit/Delete</th>
                </tr>
            </thead>
            <tbody class="table-body">
                <!-- Responsible for Displaying All the Uncompleted Tasks Gathered from the Database -->
                <% for (let task in tasks){ %>
                    <tr>
                        <% if (tasks[task]["isCompleted"] === false) { %>
                            <td><div class="status-box"><a href="/tasks/patch-task/<%= tasks[task]["_id"] %>"><svg viewbox="0 0 48 48" height="24" width="24"><path d="M9 42Q7.8 42 6.9 41.1Q6 40.2 6 39V9Q6 7.8 6.9 6.9Q7.8 6 9 6H39Q40.2 6 41.1 6.9Q42 7.8 42 9V39Q42 40.2 41.1 41.1Q40.2 42 39 42ZM9 39H39Q39 39 39 39Q39 39 39 39V9Q39 9 39 9Q39 9 39 9H9Q9 9 9 9Q9 9 9 9V39Q9 39 9 39Q9 39 9 39Z"/></svg></a></div></td> 
                            <td> <%= tasks[task]["subject"] %> </td>
                            <td class="tdata"> <%= tasks[task]["description"] %> </td>
                            <td> <%= tasks[task]["targetDate"].toDateString() %> </td>
                            <td> <%= tasks[task]["targetTime"] %> </td>
                            <td>
                                <% if (tasks[task]["tag"] === "Not Started") { %>
                                    <div class="not-started-tag"><%= tasks[task]["tag"] %></div>
                                <% } %>
                                <% if (tasks[task]["tag"] === "Important") { %>
                                    <div class="important-tag"><%= tasks[task]["tag"] %></div>
                                <% } %>
                                <% if (tasks[task]["tag"] === "Doing") { %>
                                    <div class="doing-tag"><%= tasks[task]["tag"] %></div>
                                <% } %>
                                <% if (tasks[task]["tag"] === "Required") { %>
                                    <div class="required-tag"><%= tasks[task]["tag"] %></div>
                                <% } %>
                            </td>
                            <td>
                                <div class="edit-del">
                                    <div class="btn-update">
                                        <a href="/tasks/get-task/<%= tasks[task]["_id"] %>"><svg viewbox="0 0 48 48" height="24" width="24"><path d="M9 39H11.2L35.45 14.75L34.35 13.65L33.25 12.55L9 36.8ZM6 42V35.6L35.4 6.2Q36.25 5.35 37.525 5.375Q38.8 5.4 39.65 6.25L41.8 8.4Q42.65 9.25 42.65 10.5Q42.65 11.75 41.8 12.6L12.4 42ZM39.5 10.45 37.45 8.4ZM35.45 14.75 34.35 13.65 33.25 12.55 35.45 14.75Z"/></svg></a>
                                    </div>
                                    <div class="btn-delete">
                                        <a href="/tasks/del-task/<%= tasks[task]["_id"] %>"><svg viewbox="0 0 48 48" height="24" width="24"><path d="M13.05 42Q11.85 42 10.95 41.1Q10.05 40.2 10.05 39V10.5H8V7.5H17.4V6H30.6V7.5H40V10.5H37.95V39Q37.95 40.2 37.05 41.1Q36.15 42 34.95 42ZM34.95 10.5H13.05V39Q13.05 39 13.05 39Q13.05 39 13.05 39H34.95Q34.95 39 34.95 39Q34.95 39 34.95 39ZM18.35 34.7H21.35V14.75H18.35ZM26.65 34.7H29.65V14.75H26.65ZM13.05 10.5V39Q13.05 39 13.05 39Q13.05 39 13.05 39Q13.05 39 13.05 39Q13.05 39 13.05 39Z"/></svg></a>
                                    </div>
                                </div>
                            </td>
                        <% } %>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<div class="main-container">
    <h2>Completed Tasks</h2>
    <div class="notes-container">
        <table>
            <thead class="table-head">
                <tr>
                    <!-- Table Headers with Sorting Functionality -->
                    <th>Status</th>
                    <th><div class="column" onclick="location.href='/tasks/sort-subject';">Subject</div></th>
                    <th>Description</th>
                    <th><div class="column" onclick="location.href='/tasks/sort-date';">Date</div></th>
                    <th><div class="column" onclick="location.href='/tasks/sort-time';">Time</div></th>
                    <th><div class="column" onclick="location.href='/tasks/sort-tag';">Tags</div></th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody class="table-body">
                <!-- Responsible for Displaying All the Completed Tasks Gathered from the Database -->
                <% for (let task in tasks){ %>
                    <tr>
                        <% if (tasks[task]["isCompleted"]) { %>
                            <td><div class="status-box"><a href="/tasks/unpatch-task/<%= tasks[task]["_id"] %>"><svg viewbox="0 0 48 48" height="24" width="24"><path d="M9 42Q7.8 42 6.9 41.1Q6 40.2 6 39V9Q6 7.8 6.9 6.9Q7.8 6 9 6H39Q40.2 6 41.1 6.9Q42 7.8 42 9V39Q42 40.2 41.1 41.1Q40.2 42 39 42ZM9 39H39Q39 39 39 39Q39 39 39 39V9Q39 9 39 9Q39 9 39 9H9Q9 9 9 9Q9 9 9 9V39Q9 39 9 39Q9 39 9 39ZM20.95 31.95 35.4 17.5 33.25 15.35 20.95 27.65 15 21.7 12.85 23.85ZM9 39Q9 39 9 39Q9 39 9 39V9Q9 9 9 9Q9 9 9 9Q9 9 9 9Q9 9 9 9V39Q9 39 9 39Q9 39 9 39Z"/></svg></a></div></td> 
                        <td> <%= tasks[task]["subject"] %> </td>
                        <td class="tdata"> <%= tasks[task]["description"] %> </td>
                        <td> <%= tasks[task]["targetDate"].toDateString() %> </td>
                        <td> <%= tasks[task]["targetTime"] %> </td>
                        <td><div class="completed-tag"><%= tasks[task]["tag"] %></div></td>
                        <td>
                            <div class="edit-del">
                                <div class="btn-delete">
                                    <a href="/tasks/del-task/<%= tasks[task]["_id"] %>"><svg viewbox="0 0 48 48" height="24" width="24"><path d="M13.05 42Q11.85 42 10.95 41.1Q10.05 40.2 10.05 39V10.5H8V7.5H17.4V6H30.6V7.5H40V10.5H37.95V39Q37.95 40.2 37.05 41.1Q36.15 42 34.95 42ZM34.95 10.5H13.05V39Q13.05 39 13.05 39Q13.05 39 13.05 39H34.95Q34.95 39 34.95 39Q34.95 39 34.95 39ZM18.35 34.7H21.35V14.75H18.35ZM26.65 34.7H29.65V14.75H26.65ZM13.05 10.5V39Q13.05 39 13.05 39Q13.05 39 13.05 39Q13.05 39 13.05 39Q13.05 39 13.05 39Z"/></svg></a>
                                </div>
                            </div>
                        </td>
                        <% } %>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>